<% include partials/header %>

  <main role="main">

    <div class="jumbotron">
      <div class="container">
        <h2>Texas MixedBev Analytics</h2>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <p>PERMIT NUMBER</p>
          <p><%= permitnumber %></p>
        </div>
        <div class="col-sm">
          <p>TAXPAYER DETAILS</p>
          <p><%= taxpayerName %></p>
          <p><%= taxpayerAddress %></p>
          <p><%= taxpayerCity %></p>
          <p><%= taxpayerState %></p>
          <p><%= taxpayerZip %></p>
          <p><%= taxpayerPhone %></p>
        </div>
        <div class="col-sm">
          <p>TOTALS</p>
          <p>LIQUOR: <%= liquorReceipts %></p>
          <p>WINE: <%= wineReceipts %></p>
          <p>BEER: <%= beerReceipts %></p>
          <p>TOTAL: <%= returnTotal %></p>
        </div>
      </div>

      <hr />
    </div>

  </main>

  <% include partials/footer %>
