<% include partials/header %>

  <main role="main">

    <div class="jumbotron">
      <div class="container">
        <h2><%= title %></h2>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md">

          <p>You searched for keyword: <%= keyword %></p>

          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Location Name</th>
                <th scope="col">Address</th>
              </tr>
            </thead>
            <tbody>
              <% for(var i=0; i < records.length; i++) {%>
              <tr>
                <td><a href='/report/<%= records[i]["_id"].tabcPermitNumber %>'><%= records[i]["_id"].locationName %></a></td>
                <td><%= records[i]["_id"].locationAddress %></td>
              </tr>
              <% } %>
            </tbody>
          </table>

        </div>

      </div>

      <hr />
    </div>

  </main>

  <% include partials/footer %>
