  <% include partials/header %>

    <main role="main">

      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Banner.</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
      </div>

      <div class="container">

        <div class="row">

          <div class="col-md-9 card">
            <h1><%= locationName %></h1>
            <p>Taxpayer #: <%= taxpayerNumber %></p>
            <p>TABC Permit #: <%= tabcPermitNumber %></p>
          </div>

          <div class="col-md-3 card">

            <table class="table text-center">
              <thead>
                <tr>
                  <th scope="col">Zip</th>
                  <th scope="col">County</th>
                  <th scope="col">Texas</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>88</td>
                  <td>88</td>
                  <td>88</td>
                </tr>
              </tbody>
            </table>

          </div>

        </div>

        <div class="row">

          <div class="col-md-3 card">
            <h2>Month Pie Chart</h2>
          </div>

          <div class="col-md-7 card">
            <h2>Line Graph</h2>
          </div>

          <div class="col-md-2 card">
            <h2>Add Bars to Compare</h2>
          </div>

        </div>

        <div class="row">

          <div class="col-md-4 card">
            <h2>Monthly Revenue</h2>
            <p>Last 12 Months Listed</p>
          </div>

          <div class="col-md-8 card">
            <h2>Summary</h2>
            <p>Indicators</p>
            <p>Name</p>
            <p>Similar Bars</p>
          </div>

        </div>

        <div class="row">

          <div class="col-md-12 card">
            <h2>Similar Bars</h2>
          </div>

        </div>

        <div class="row">

          <div class="col-md-4 card">
            <h5>Totals</h5>
            <p>Total: <%= returnTotal %></p>
            <p>Liquor: <%= liquorReceipts %></p>
            <p>Wine: <%= wineReceipts %></p>
            <p>Beer: <%= beerReceipts %></p>
          </div>

          <div class="col-md-4 card">
            <h5>Taxpayer Info</h5>
            <p><%= taxpayerName %></p>
            <p><%= taxpayerAddress %></p>
            <p><%= taxpayerCity %>, <%= taxpayerState %> <%= taxpayerZip %></p>
            <p>
              <%if (taxpayerPhone == '(0NN) NNN-NNNN') { %>
                NA
              <% } else { %>
                <%= taxpayerPhone %>
              <% } %>
            </p>
          </div>

          <div class="col-md-4 card">
            <h5>Location Info</h5>
            <p><%= locationName %></p>
            <p><%= locationAddress %></p>
            <p><%= locationCity %>, <%= locationState %> <%= locationZip %></p>
            <p>
              <%if (locationPhone == '(0NN) NNN-NNNN') { %>
                NA
              <% } else { %>
                <%= locationPhone %>
              <% } %>
            </p>
          </div>

        </div>

        <%# <div class="row">
          <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
        </div>
        <hr>%>

      </div>

    </main>

    <% include partials/footer %>
